body{
    font-family: 'Roboto', sans-serif;
    background-color: #d0d0d0;
}


#header-app{
    height: 127px;
    width: 100vw;
    background-color: #009688;
    position: fixed;
    left: 0;
    top: 0;
}

header h2 {
    display: inline-block;
    color: white;
}

.member-info {
    margin: 0 auto;
    width: 1440px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    /*border: 1px solid #dbfffb;*/
    border-radius: 3px;
    text-align: center;
    position: relative;
    top: 19px;
    overflow: hidden;
}

.Contacts {
    width: 30%;
    height: 100%;
    /*background-color: black;*/
    position: absolute;
    top: 0;
    left: 0;
}

.Contacts-Info {
    display: inline-block;
    text-align: left;
    position: relative;
    vertical-align: middle;
    left: 0;
    background-color: #ffffff4a;
    width: 100%;
    height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.Contacts-Content-Pic {
    height: 50px;
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    border-radius: 50%;
}

.Contacts-Header {
    height: 59px;
    width: 100%;
    background-color: #eee;
    border-right: 1px solid rgba(109, 109, 109, 0.342);
    border-left: 1px solid #00000024;
}

.Contacts-Header-ProfilePic {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin: 5px;
    position: absolute;
    left: 0;
}
.Contacts-Content-imgname {
    display: inline-block;
    position: absolute;
    width: 85.2%;
    border-top: 1px solid #c5c5c547;
    height: 100%;
    top: 0;
    vertical-align: middle;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    /*right: 0;*/
    margin: 0 auto;
    color: gray;
}

.Contacts-Notification {
    background-color: #9de1fe;
    padding: 20px 12px 30px 12px;
}

.Contacts-Notification-Bell {
    color: #9de1fe;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 13px;
    left: 0;
    position: absolute;
    margin-left: 20px;
}

.Contacts-Search{
    /* height: 40px; */
    /* vertical-align: middle; */
    padding: 10px 20px;
    /* margin: 0 auto; */
    display: flex;
    /* width: 100%; */
    /* border-bottom: 1px solid #00000013; */
    /* box-sizing: content-box; */
}

.Contacts-Search-Icon{
    position: relative;
    width: 100%;
    height: 28px;
    padding-left: 15px;
    border: 1px solid #0000000a;
    border-left: none;
}

.Contacts-Content {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.Contacts-Content-ProfilePic {
    height: 40px;
    display: inline-block;
    position: relative;
}

.Contacts-Content-Name {
    display: inline-block;
    padding-top: 15px;
}

.Contacts-Content-Message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.Messages {
    background: url("https://s-media-cache-ak0.pinimg.com/originals/0f/05/27/0f05274b1bdc8feed70822513cd7a903.jpg") repeat fixed center; 
    background-color: gray;
    position: absolute;
    width: 70%;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 30%;
}


 .Contacts-Content::-webkit-scrollbar {
    width: 7px;
 }

 
 .Contacts-Content::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background-color: rgb(197, 197, 197);
    /*-webkit-box-shadow: inset 0 0 6px rgb(136, 136, 136); */
 }

 .Contacts-Glue {
    height: 32px;
    background-color: transparent;
    color: #8080806b;
    border: 1px solid #0000000a;
    border-right: none;
    padding-left: 18px;
 }

 
